<h3>Employee ID Card Form</h3>
<form [formGroup]="idform">
    <div class="container">
   <div class="form-group">
       <label for="firstName">FirstName</label>
       <input type="text" class="form-control" name="firstName" formControlName="firstName">
       <span  class="alert alert-danger" *ngIf="idform.get('firstName').touched && idform.get('firstName').errors">Please Enter the valid First name</span>
    </div><br>
   <div class="form-group">
       <label for="fullName">FullName</label>
       <input type="text" class="form-control" id="fullName" formControlName="fullName">
       <span  class="alert alert-danger" *ngIf="idform.get('fullName').touched && idform.get('fullName').errors">Please Enter the valid Full name</span>
    </div><br>
    
         <div>
            <label for="designation">Designation</label>
            <select id="designation" class="form-control" formControlName="designation">
                    <option value="" selected disabled hidden>Choose here</option>
                <option value="Associate Engineer" checked>New Employee</option>
                <option value="Systems analyst">Lost</option>
                <option value="Network engineer">Defaced</option>
                <option value="software architect">Conversion</option>
                <option value="Software tester">Designation Change</option>
              </select> 
              <span  class="alert alert-danger" *ngIf="idform.get('designation').touched && idform.get('designation').errors">Please select your designation</span><br/><br/>                
        </div>
        <div>
            <label for="emp_no">Employee Number</label>
            <input type="text" class="form-control" id="emp_no" formControlName="empNo">
            <span  class="alert alert-danger" *ngIf="idform.get('empNo').touched && idform.get('empNo').errors">Please enter a valid employee number</span><br/><br/><br/><br/> 
        </div>
        <div>
            <label for="blood" >Employee BloodGroup</label>
            <label class="radio-inline">
                <input type="radio" name="blood" value="A+" formControlName="blood">A+
              </label>
              <label class="radio-inline">
                <input type="radio" name="blood" value="B+" formControlName="blood">B+
              </label>
              <label class="radio-inline">
                <input type="radio" name="blood" value="O+" formControlName="blood">O+
              </label>


            
              <span  class="alert alert-danger" *ngIf="idform.get('blood').touched && idform.get('blood').errors">Please select your blood group</span><br/><br/> 
        </div>
        <div>
            <label for="issues">Reasons for Issues</label>
            <select class="form-control" id="issues" formControlName="issues">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="New Employee" checked>New Employee</option>
                <option value="Lost">Lost</option>
                <option value="Defaced">Defaced</option>
                <option value="Conversion">Conversion</option>
                <option value="Designation Change">Designation Change</option>
              </select> 
              <span  class="alert alert-danger" *ngIf="idform.get('issues').touched && idform.get('issues').errors ">Please select your issues</span><br/><br/> 
        </div><br>
       
        <div>
                <label for="email">Email ID(Virtusa)</label>
                <input type="text"class="form-control"  id="email" formControlName="email">
                <span  class="alert alert-danger" *ngIf="idform.get('email').touched && idform.get('email').errors ">Please enter valid email address</span><br/><br/> 

        </div><br>
        <div [formGroup]="contactNumbers">
        <div>
                <label for="mobile">Employee Mobile Number</label>
                <input type="text"class="form-control"  id="mobile"  formControlName="mobile">
                <span  class="alert alert-danger" *ngIf="idform.get('mobile').touched && idform.get('mobile').errors ">Please enter your mobile number</span><br/><br/> 
                
        </div><br>
        <div>
                <label for="emergency">Emergency Contact Number</label>
                <input type="text"class="form-control"  id="emergency" formControlName="emergency">
                <span  class="alert alert-danger" *ngIf="idform.get('emergency').touched && idform.get('emergency').errors ">Please enter your contact number</span><br/><br/> 
                
        </div>
        <span class="alert alert-danger" *ngIf="idform.get('contactNumbers').errors">
            Enter atleast one contact number
          </span>
         </div>  
    <div>
        <button type="button" class="btn btn-success" id="submitting" [disabled]="idform.invalid" (click)="addDetails()">submit</button>
    </div>
    </div>
    </form>
